<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709101583410-89lcjpumtpgon28thqls428a4bsgblip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709101583410-89lcjpumtpgon28thqls428a4bsgblip</string>
	<key>API_KEY</key>
	<string>AIzaSyDx7zSn7x4kVRp_Gs3c0QyxLUg51n0TCgU</string>
	<key>GCM_SENDER_ID</key>
	<string>709101583410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neighbor.ridingpartner</string>
	<key>PROJECT_ID</key>
	<string>ridingpartner-4dd9e</string>
	<key>STORAGE_BUCKET</key>
	<string>ridingpartner-4dd9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709101583410:ios:ca20b0623aa9447252102b</string>
</dict>
</plist>